* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.example {
  padding: 2em;
    svg {
        width: 100%;
        height: auto;
        align-self: center;
        display: block;
        margin: auto;
    }
}


@media screen and (min-width: 800px) {
    .example {
        svg {
            //width: 30%;
        }
    }
  }

#example-1 {
    background-image: linear-gradient(#d6fffe, rgb(255, 190, 121));
}

#example-0 {
    background-color: #cba0c6;
}

#example-2 {
    background-color: #342828;
}

#example-3 {
    background-color: #ffdca4;

    #surfsup {
        margin-top: 10px;
    }
}

#heart-2 {
    opacity: 0;
}

#morph-1, #morph-2, #fill {
    visibility: hidden;
}