* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.example {
    width: 100vw;
    height: 100vh;
    svg {
        height: 100%;
        width: 50%;
        align-self: center;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 800px) {
    .example {
        svg {
            width: 30%;
        }
    }
  }

#example-1 {
    background-image: linear-gradient(#e6e6e6, rgb(255, 190, 121));
}

#example-0 {
    background-color: #cba0c6;
}

#example-2 {
    background-color: #342828;
}

#example-3 {
    background-color: #ffdca4;

    #singlefin {
        height: 80%;
        width: 100%;
        padding: 2em 2em 0 2em;
    }

    #surfsup {
        position: relative;
        height: 20%;
        width: 100%;
        padding: 2em;
    }
}

#heart-2 {
    opacity: 0;
}

#morph-1, #morph-2, #fill {
    visibility: hidden;
}