body {
    
}

.example {
    width: 100vw;
    height: 100vh;
    svg {
        width: 50%;
        align-self: center;
        display: block;
        margin: auto;
    }
}

#example-1 {
    background-image: linear-gradient(#e6e6e6, rgb(255, 190, 121));
    svg {
        padding-top: 30%;
    }
}

#example-2 {
    background-color: #342828;
    svg {
        height: 50%;
        padding-top:  40%;
    }
}

#heart-2 {
    opacity: 0;
}

#morph-1, #morph-2, #fill {
    visibility: hidden;
}