/*FONTS
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Staatliches', cursive;
*/
@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica compressed hv.otf");
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-condensed-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* staatliches-regular - latin */
@font-face {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/staatliches-v11-latin-regular.woff2") format("woff2"), url("../fonts/staatliches-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alumni-sans-pinstripe-regular - latin*/
@font-face {
  font-family: "Alumni Sans Pinstripe";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/AlumniSans-ExtraLight.ttf") format("truetype"), url("../fonts/alumni-sans-pinstripe-v1-latin-regular.woff2") format("woff2"), url("../fonts/alumni-sans-pinstripe-v1-latin-regular.woff") format("woff");
}
html, body {
  overflow-x: clip;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Alumni Sans Pinstripe", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

#logo-page {
  display: block;
  background-color: #AD7FA8;
  max-height: 100vh;
  align-content: center;
  align-items: center;
}
#logo-page .logo {
  max-width: 50vw;
  display: block;
  margin: 0 auto;
}
#logo-page .logo-name {
  display: block;
  font-family: "Staatliches", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 100vw;
  color: #cba0c6;
}
#logo-page .hidden {
  display: none;
}

.impressum-body {
  background-color: #3f2140;
}
.impressum-body section {
  padding: 2em !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #505050;
}

a:hover, .send-mail:hover {
  color: #3f2140;
}

a:active, .send-mail:hover {
  color: #3f2140;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #ad7fa8;
  position: sticky;
  z-index: 100000;
  top: 0;
}
.nav-container nav {
  align-content: center;
}
.nav-container nav a {
  color: white;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  font-weight: 500;
}
.nav-container nav a:hover {
  color: #3f2140;
}

.sticky {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}
.sticky header {
  padding: 0.5em 1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 1em 1.5em;
}
header .logo {
  color: #3f2140;
  font-family: "Barlow Condensed", Helvetica, Arial, sans-serif;
  float: left;
}
header .logo :hover {
  filter: brightness(1.5);
}
header .logo .butterfly {
  height: 2em;
  vertical-align: middle;
}
header .logo .name {
  display: none;
}
header a:hover {
  color: #3f2140;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0.5em;
}
header ul a:hover {
  color: #505050;
}

.social-header {
  display: none;
}
.social-header i:hover {
  color: #3f2140;
}

.header-about {
  background-color: #F0E9F1 !important;
}

#pageup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999999;
  font-size: 2em;
  border: none;
  outline: none;
  color: #505050;
  background-color: rgba(207, 182, 204, 0.6666666667);
  border-radius: 1em;
  cursor: pointer;
  padding: 0.5em;
}

#pageup:hover {
  background-color: rgba(190, 160, 186, 0.6666666667);
}

.hero {
  min-height: 85vh;
  background: #cba0c6;
  color: white;
  display: grid;
  text-align: center;
}
.hero .content {
  align-content: center;
}
.hero .hero-design {
  max-height: 60vh;
  max-width: 90vw;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(5px 5px 5px #222);
}

.meet {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
  font-family: "Barlow Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1.2em;
  color: #3f2140;
}
.meet .scroll-hint {
  margin-top: -1em;
}
.meet .scroll-hint i {
  color: #3f2140;
}

.meet:hover i, .meet:hover p {
  color: #707070;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
}

.work-examples {
  position: relative;
  background-color: #3f2140;
}
.work-examples .headline {
  font-family: "Staatliches", Trebuchet, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 5em;
  color: #AD7FA8;
  margin: 0;
}
.work-examples .headline-left {
  text-align: left;
  padding: 0.6em 0 0 0.4em;
  margin-bottom: -0.6em;
}
.work-examples .headline-right {
  text-align: right;
  padding: 0 0.4em 0.5em 0;
  margin-top: -0.6em;
}
.work-examples #web-headline {
  padding-bottom: 0.2em;
}
.work-examples #corporate-gallery {
  background-color: #e6e6e6;
  padding: 3em 0;
  overflow-x: hidden;
}
.work-examples #logo-gallery {
  background-color: #3f2140;
  padding: 0;
  overflow-x: hidden;
}
.work-examples #web-gallery {
  background-color: #e6e6e6;
}
.work-examples .slider {
  display: flex;
  flex-direction: row;
  gap: 25px;
  white-space: nowrap;
}
.work-examples #slider-top {
  padding-bottom: 2em;
}
.work-examples #slider-logos {
  padding-bottom: 4.5em;
}
.work-examples .slider-img {
  width: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.work-examples .corporate-img {
  height: 200px;
}
.work-examples .logo-img {
  height: 300px;
}
.work-examples .info-container {
  background-color: white;
  padding: 5em 2em 3em 2em;
}
.work-examples .web-examples {
  display: flex;
  flex-direction: column;
  background-color: #3f2140;
}
.work-examples #web-headline, .work-examples #web-headline-1 {
  display: none;
}
.work-examples #web-headline-2 {
  margin-bottom: -2.2em;
  line-height: 1em;
}
.work-examples #mockup {
  display: none;
}
.work-examples #mockup, .work-examples #mockup-mobil {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.6823529412));
  padding: 1em 2em 0 1.4em;
  width: 92% !important;
}
.work-examples .google-batch {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 1.2em;
}
.work-examples .google-batch svg {
  width: 120px;
  height: auto;
}
.work-examples .google-batch a:hover svg {
  transform: scale(0.9);
  transform-origin: center;
  transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}
.work-examples #activism-gallery {
  background-color: white;
  overflow-x: clip;
}
.work-examples #seahorse {
  width: 53%;
  margin-left: -5em;
  margin-top: -2.5em;
  z-index: 1000;
}
.work-examples .logo-container {
  width: 65%;
  margin: -16em auto 0 auto;
  padding: 0 0 0 3em;
}
.work-examples #art4change-logo {
  width: 100%;
}
.work-examples #jellyfish {
  width: 65%;
  margin: 0 0 -55% 70%;
}
.work-examples .double-img-grid {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding: 2em;
  z-index: 1;
}
.work-examples .double-img-grid .grid-img {
  min-height: 300px;
  max-width: 100%;
  aspect-ratio: 4/3;
  background-size: cover;
  background-position: center;
}
.work-examples .double-img-grid #litterfree {
  background-image: url(/img/update-06-25/litterfree.webp);
}
.work-examples .double-img-grid #postcards {
  background-image: url(/img/update-06-25/postcards.webp);
}
.work-examples #info-postcards {
  background: none;
  padding-bottom: 2em;
  margin-top: -12em;
}
.work-examples .title-75p {
  width: 80%;
}
.work-examples #first-paragraph {
  width: 90%;
}
.work-examples #sum {
  font-size: 6em;
  margin-top: 0.4em;
}
.work-examples #thankyou {
  font-size: 3.5em;
  margin-top: 0.5em;
  color: #AD7FA8;
}

.separator-row {
  width: 150%;
  margin-left: -50%;
  background-color: white;
}

.featured {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
}
.featured svg > g > g:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}
.featured .right {
  padding-bottom: 4em;
}

.subtitle {
  text-transform: uppercase;
  font-family: "Barlow Condensed", Helvetica, Arial, sans-serif;
  color: #ad7fa8;
  letter-spacing: 0.05em;
  font-size: 1.2em;
}

.featured-title {
  color: #505050;
  font-family: "Staatliches", Trebuchet, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-top: -0.4em;
  margin-bottom: 0;
  display: block;
}

#title-desktop {
  display: none;
}

#title-mobile {
  display: block;
}

.featured-desc {
  color: black;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  line-height: 1.3em;
  word-spacing: 0.05em;
  font-weight: 500;
}

.skills {
  background: #3f2140;
}

.skills-container ul li {
  text-align: center;
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  /*individual heights for icons later*/
}
.skills-container ul li .icon-container.one {
  width: 100px;
}
.skills-container ul li .icon-container.two {
  width: 100px;
}
.skills-container ul li .icon-container.three {
  width: 100px;
}
.skills-container ul li .skill-title {
  font-weight: bolder;
  font-size: 2em;
  margin-top: unset;
  margin-bottom: unset;
  padding-bottom: unset;
}
.skills-container ul li .featured-desc {
  margin-top: unset;
  margin-bottom: 0.5em;
}

.portfolio {
  background: #f0e9f1;
}

.readmore {
  font-weight: bold;
  text-decoration: underline;
}

.readmore:hover {
  color: #cba0c6;
}

.readmore:active {
  color: #707070;
}

.portfolio-container img, video {
  border-radius: 1em;
  margin: 1em 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.about {
  background: white;
}

#about-subtitle {
  margin-top: 0 !important;
}

.contact {
  position: relative;
  background: #F0E9F1;
  background: linear-gradient(180deg, rgb(240, 233, 241) 10%, rgb(255, 255, 255) 30%);
  text-align: center;
  padding-top: 2em !important;
  padding-bottom: 1em;
  margin-top: -7px;
}

.loveletter {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.loveletter #hearts, .loveletter #open {
  opacity: 0;
}

.section-title {
  font-size: 2em;
  margin-top: 0.3em;
}

.section-subtitle {
  font-size: 1.5em;
  margin-top: -1.2em;
  color: #ad7fa8;
}
.section-subtitle .fa-heart {
  font-size: 0.6em;
  vertical-align: middle;
}

footer {
  background-color: #f0e9f1;
  padding: 0.5em 0.5em;
  text-align: center;
  font-size: 1.2em;
}
footer a:hover {
  color: #3f2140;
  font-weight: bold;
}

.made-with-love {
  height: 0.9em;
  padding-right: 2em;
}

.impressum {
  background-color: white;
  border-radius: 1em;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  padding: 1em;
}
.impressum h1 {
  margin-top: 0px;
}

.goodbye {
  height: 20vh;
}
.goodbye svg {
  height: 100%;
  margin-left: -100%;
}

#nav-back {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 9999999999;
  top: 0;
}

.styled {
  background-color: rgba(173, 127, 168, 0.7529411765);
}

.back-arrow {
  width: 200px;
  margin: 1em;
}

.back-arrow:hover path {
  fill: #886684;
}

.send-mail {
  margin-bottom: unset;
}
.send-mail .fa-envelope {
  color: #886684;
  padding-right: 2px;
}

.send-mail:hover .fa-envelope, .send-mail:hover span {
  color: #3f2140;
  font-weight: bold;
}

.disclaimer h1 {
  margin-top: 0px;
}

.photography-body {
  background-color: #222;
}

/*media queries*/
@media only screen and (min-width: 500px) {
  header ul a {
    padding: 0.5em 0.5em;
  }
  header ul a:hover {
    font-weight: bold;
  }
  #web-headline-2 {
    margin-bottom: -2.5em !important;
  }
  #info-postcards {
    margin-top: -14em !important;
  }
  .title-75p {
    width: 88% !important;
  }
  #first-paragraph {
    width: 83% !important;
  }
  #sum {
    margin-top: 0.5em;
  }
}
@media only screen and (min-width: 800px) {
  header {
    font-size: 1.5em;
  }
  header a {
    margin-top: -0.3em;
  }
  .name {
    display: unset !important;
  }
  .hero .hero-design {
    max-width: 85vw;
    max-height: 45vh;
  }
  .hero .meet {
    margin-top: 0 !important;
  }
  .hero .meet p {
    font-size: 1.2em;
  }
  .headline {
    font-size: 6em !important;
  }
  .featured, .portfolio {
    text-align: left;
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .featured img {
    float: right;
  }
  #title-desktop {
    display: block;
  }
  #title-mobile {
    display: none;
  }
  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-top: 2em;
  }
  .skills {
    margin-bottom: -10em;
    padding: 3em !important;
  }
  .skills svg {
    width: 100%;
    justify-content: center;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  #portfolio-section-start {
    padding-top: 10em;
  }
  .portfolio-start {
    padding-top: 3em !important;
  }
  .portfolio {
    padding: 0 3em;
  }
  .portfolio-container img, video {
    margin-top: 3em;
  }
  .portfolio-right {
    padding-left: 2em;
  }
  .work-examples #corporate-gallery {
    padding: 5em 0 !important;
  }
  .work-examples .corporate-img {
    height: 300px !important;
  }
  .work-examples .logo-img {
    height: 400px !important;
  }
  .work-examples .info-container {
    padding: 5em 3em 3em 3em;
  }
  .work-examples #web-headline, .work-examples #web-headline-1 {
    display: block;
  }
  .work-examples #web-headline-2 {
    display: none !important;
  }
  .work-examples #mockup {
    display: block;
  }
  .work-examples #mockup-mobil {
    display: none !important;
  }
  .work-examples .google-batch {
    padding-top: unset;
  }
  .work-examples .google-batch svg {
    width: 150px;
  }
  .work-examples #seahorse {
    width: 45% !important;
    margin: -3.5em 0 0 -6em !important;
  }
  .work-examples .logo-container {
    width: 55% !important;
    margin: -20em auto 0 auto !important;
    padding: 0 0 0 3em;
  }
  .work-examples #art4change-logo {
    width: 100%;
  }
  .work-examples .double-img-grid {
    flex-direction: row !important;
    -moz-column-gap: 1em !important;
         column-gap: 1em !important;
    padding: 2em 3em;
  }
  .work-examples .grid-img {
    min-height: unset !important;
    width: 50% !important;
    aspect-ratio: 1 !important;
  }
  .work-examples #jellyfish {
    width: 55% !important;
    margin: 0 0 -53% 75%;
  }
  .work-examples #info-postcards {
    margin-top: -14em !important;
    padding-bottom: 3em !important;
  }
  .work-examples #second-paragraph {
    width: 83%;
  }
  .work-examples .title-75p {
    width: 80% !important;
  }
  .end {
    padding-bottom: 2em;
  }
  .loveletter {
    width: 500px;
  }
  .impressum {
    font-size: 1.5em;
    margin: 3em;
  }
}
@media only screen and (min-width: 1050px) {
  .nav-container {
    display: grid;
    grid-template-columns: 70% auto;
    background: unset;
  }
  .nav-container header {
    background: #ad7fa8;
    padding: 1.5em 2em 1.5em 2em;
  }
  .nav-container header .logo {
    margin-top: 5px;
  }
  .sticky header {
    padding: 0.7em 2em;
  }
  .sticky .social-header {
    padding: 0.7em 0;
  }
  .social-header {
    display: block;
    font-size: 1.5em;
    padding: 1.5em 0 1.5em 0;
    align-content: center;
    background-color: white;
    width: 100%;
  }
  .social-header ul {
    display: flex;
    justify-content: center;
  }
  .social-header ul i {
    color: #ad7fa8;
    padding: 0 1em 0 1em;
  }
  .hero {
    display: grid;
    grid-template-columns: 70% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #cba0c6;
  }
  .hero .hero-design {
    max-height: 50vh;
  }
  .hero-design, .meet {
    width: 110%;
    margin-left: 16%;
  }
  section {
    padding: 3em;
  }
  .portfolio {
    padding: 0 5em;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
  .work-examples .headline {
    font-size: 8em !important;
  }
  .work-examples .headline-left {
    padding: 0.5em 0 0 0.5em !important;
    margin-bottom: -0.6em;
  }
  .work-examples .headline-right {
    padding: 0 0.5em 0.5em 0 !important;
    margin-top: -0.59em;
  }
  .work-examples .info-container {
    padding: 5em 4em 3em 4em;
  }
  .work-examples #corporate-gallery {
    padding: 6em 0 !important;
  }
  .work-examples .web-examples {
    padding-top: 1em;
  }
  .work-examples #web-headline {
    padding-bottom: 0 !important;
  }
  .work-examples #mockup {
    padding: 1em 3em 0 2.4em;
  }
  .work-examples .google-batch svg {
    width: 180px;
  }
  .work-examples #seahorse {
    width: 40% !important;
    margin: -6em 0 0 -7em !important;
  }
  .work-examples .logo-container {
    width: 55% !important;
    margin: -26em auto 0 auto !important;
    padding: 0 0 0 3em;
  }
  .work-examples #art4change-logo {
    width: 100%;
  }
  .work-examples .double-img-grid {
    flex-direction: row !important;
    -moz-column-gap: 2em !important;
         column-gap: 2em !important;
    margin-top: 1em;
    padding: 2em 4em;
  }
  .work-examples .grid-img {
    width: 50% !important;
  }
  .work-examples #jellyfish {
    width: 52% !important;
    margin: 0 0 -55% 74% !important;
  }
  .work-examples #info-postcards {
    margin-top: -12em !important;
  }
  .work-examples .title-75p {
    width: 85% !important;
  }
  .separator-row {
    width: 120%;
    margin-left: -20%;
  }
  .form-group {
    padding-left: 2em;
    padding-right: 2em;
  }
  .impressum {
    margin: 3em 6em;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 1.5em 2em 1.5em 4em !important;
  }
  .social-header {
    padding: 1.5em 10em 1.5em 0 !important;
  }
  .sticky header {
    padding: 0.9em 2em 0.9em 4em !important;
  }
  .sticky .social-header {
    padding: 0.9em 10em 0.9em 0 !important;
  }
  .hero-design {
    max-height: 50vh !important;
  }
  section {
    padding: 10em 10em 4em 10em !important;
  }
  .skills {
    padding: 5em !important;
  }
  .portfolio {
    padding: 10em 7em 0 7em;
  }
  .portfolio-left {
    margin-right: 2em;
  }
  .portfolio img {
    max-width: 600px;
  }
  .work-examples .headline {
    font-size: 9em !important;
  }
  .work-examples .info-container {
    padding: 5em 10em;
  }
  .work-examples .info-container .featured-title {
    margin-top: 0.5em;
  }
  .work-examples #corporate-gallery {
    padding: 6em 0 !important;
  }
  .work-examples .corporate-img {
    height: 300px !important;
  }
  .work-examples .logo-img {
    height: 400px !important;
  }
  .work-examples #logo-gallery {
    margin-bottom: 3em;
  }
  .work-examples #web-headline {
    margin-top: -0.65em;
  }
  .work-examples #mockup {
    width: 70% !important;
    margin-left: 5%;
  }
  .work-examples #activism-gallery {
    padding-bottom: 3em;
  }
  .work-examples #seahorse {
    width: 35% !important;
    margin: -5em 0 0 -5em !important;
  }
  .work-examples .double-img-grid {
    padding: 1.5em 10em 0 10em !important;
    -moz-column-gap: 2em !important;
         column-gap: 2em !important;
  }
  .work-examples #jellyfish {
    width: 45% !important;
    margin: 0 0 -48% 80% !important;
  }
  .work-examples #info-postcards {
    padding: 0 10em 3em 10em !important;
    margin-top: -5em !important;
  }
  .work-examples .logo-container {
    margin-top: -29em !important;
  }
  .work-examples #sum {
    margin-top: 0.3em !important;
  }
  .featured {
    flex-direction: row;
    grid-gap: 2em !important;
    padding: 3em !important;
  }
  .left {
    width: 70%;
  }
  .form-group {
    padding-left: 4em;
    padding-right: 4em;
  }
  .impressum {
    margin: 3em 6em 3em 8em;
  }
}
@media only screen and (min-width: 1550px) {
  .hero, #nav-container {
    grid-template-columns: 60% auto;
  }
  header {
    padding: 1.5em 2em 1.5em 4em;
  }
  .social-header {
    padding: 1.5em 20em 1.5em 0;
  }
  .sticky header {
    padding: 1em 2em 1em 4em;
  }
  .sticky .social-header {
    padding: 1em 20em 1em 0;
  }
  .hero-design, .meet {
    margin-left: 26%;
  }
  .hero-design {
    margin-top: 4.5em;
    min-height: 70% !important;
  }
  .featured {
    padding: 5em !important;
  }
  .work-examples .info-container {
    padding: 9em;
  }
  .work-examples .google-batch svg {
    width: 200px !important;
  }
  .work-examples #seahorse {
    width: 32% !important;
  }
  .work-examples .logo-container {
    width: 43% !important;
    margin-top: -33em !important;
  }
  .work-examples .double-img-grid {
    -moz-column-gap: 3em !important;
         column-gap: 3em !important;
    margin-top: 4em;
    padding: 0 9em !important;
  }
  .work-examples .double-img-grid .grid-img {
    aspect-ratio: 4/3 !important;
  }
  .work-examples #jellyfish {
    width: 40% !important;
    margin: 0 0 -43% 80% !important;
  }
  .work-examples #info-postcards {
    margin-top: -6em !important;
    padding: 2em 9em 2em 9em !important;
  }
  .featured img {
    max-width: 800px;
  }
  .skills {
    padding-left: 10em !important;
    padding-right: 10em !important;
  }
  .portfolio {
    padding: 10em 18em 0 18em !important;
  }
  .separator-row {
    width: 100%;
    margin-left: 0;
  }
  .impressum {
    margin: 3em 6em 3em 10em;
  }
}/*# sourceMappingURL=main.css.map */