.pineapplewake-body {
    background-color: #f0e9f1;
}

.awwal-body {
    background-color: black;
    hyphens: manual;
    
    #arrow, #back-text {
      fill: #ad7fa896;
    }

    .styled {
        background-color: #232323e1;
    }
}

#nav-back {
    display: none;
}

#intro-awwal {
    width: 50vh;
    display: block;
    margin: auto;
}

.logo-wrapper {
    position: relative;
    z-index: 10;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.intro-img {
    background-color: unset;
    margin-bottom: -8em;
    z-index: 0;
}

.featured-desc a {
    text-decoration: underline;
 }

 .featured-desc a:hover {
    color: #ad7fa8;
 }

 .featured-desc a:active {
    color: #b7b7b7;
 }

.back-home {
    max-height: 5em;
    display: block;
    margin: 1em auto;
}

.logo-farbig, .awwal-logo {
    max-height: 30vh;
    width: auto;
    align-self: center;
    display: block;
    margin: auto;
}

section {
    padding-bottom: 1em;
}

.section-title {
    color: #ad7fa8;
    font-family: "Staatliches";
    font-size: 5em;
    margin: unset;
    opacity: 50%;
    z-index: 999999999;
}

.awwal-desc {
    color: #ffffff;
}

.portfolio-container {
    margin: 3em 0;
}

.portfolio {
    padding-top: 2em;
    background-color: unset;
}

#logo-awwal, #flyer, #homepage-animation, #desktop-view, #mobile-view {
    box-shadow: unset;
}

video {
    width: 100%;
    clip-path: inset(0 2px);
}

.grid-item, #guitar-detail {
    border-radius: unset !important;
}

#cinemagraph {
    width: 80%;
    display: grid;
    margin: 3em auto;
}

footer {
    background-color: white;
}

.awwal-footer {
    background-color: #b7b7b7;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 800px) {
    .logo-wrapper {
        padding: 1em;
    }

    .fullwidth-content {
     display: block;
     margin-top: 2em;

     img, video {
        max-width: 100%;
        float: unset;
        margin: auto;
     }

    }

    .portfolio-container {
        margin-bottom: 1em;
    }

    .awwal-logo {
    padding: 3em;
    }

    .picture-grid-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        margin-bottom: 1em;
    }
    
    .picture-grid-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 1em;
    }
    
    .grid-item {
        float: left;
        margin: unset !important;
        padding: unset;
        border-radius: unset !important;
    }

    #guitar-detail {
        margin-bottom: 5em;
    }
}

@media only screen and (min-width: 1050px) {
    .logo-wrapper {
        padding: 1em;
    }
}

@media only screen and (min-width: 1250px) {
    .logo-wrapper {
        padding: 2em;
    }
}

@media only screen and (min-width: 1550px) {
    .logo-wrapper {
        padding: 2em;
    }
}